/* 
    作者: Jianjun Lang
    创建日期: 2023/10/14
    描述: 在client浏览器端使用滑块控制机器人速度，转向，吸力数据，发送往服务器
 */


body {
    /* 禁止默认的触摸行为 */
    touch-action: none;

    /* 样式 */
    font-family: 'Orbitron', sans-serif; /* 引入外部字体或使用系统字体 */
    background-color: #1a1a1a; /* 暗色背景 */
    color: #d6d6d6; /* 亮色字体 */
    margin: 0;
    padding: 0;
    overflow: hidden; /* 隐藏滚动条 */
}

#grid_layout {
    height: 100vh; /* 设置高度为视口的100% */
    display: grid;
    /* 列 */
    grid-template-columns: repeat(4, 1fr);
    /* 行 */
    grid-template-rows: repeat(4, 1fr);
    justify-items: center; /* 水平居中对齐所有子元素 */
    align-items: center; /* 垂直居中对齐所有子元素 */
}

/* 视频布局 */
#video_container {
    grid-column: 1 / -1; /* 占据全部列 */
    grid-row: 1 / -2;
    width: 100%;
    height: 100%;
    display: flex; /* 使用Flexbox */
    justify-content: center; /* 水平居中 */
}

img {
    height: 100%;
    width: auto;
}

/* 参数滑块布局 */
#parameters_container {
    grid-column: 1 / 3;
    grid-row: -2 / -1;
    display: flex;
    width: 100%;
}

.parameter_container {
    width: 100%;
    display: flex;
    flex-direction: column; /* 设置flex方向为垂直 */
    margin-left: 2%;
}

input[type="range"] {
    -webkit-appearance: none; /* Override default appearance */
    appearance: none;
    background: transparent; /* Transparent background */
}

/* 按钮布局 */
#button_container {
    grid-column: -2 / -1;
    grid-row: -2 / -1;
    width: 100%;
    display: grid;
    /* 3 列 */
    grid-template-columns: repeat(3, 1fr);
    /* 2 行 */
    grid-template-rows: repeat(2, 1fr);
}

#forward {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#turn_left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#backward {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#turn_right {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

/* 按钮 */
button {
    /* 禁用按钮上文字选择 (Safari, Firefox, IE10+/Edge Standard) */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* 布局 */
    aspect-ratio: 1 / 1; /* 确保宽高比为1:1 */
    margin: 4%;

    /* 样式 */
    background-color: #333; /* 按钮背景颜色 */
    border: 1px solid #555; /* 按钮边框 */
    color: #fff; /* 文字颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 按钮阴影 */
    transition: all 0.2s; /* 过渡效果 */
    font-size: large;

}

/* 滑块-track样式 */
input[type="range"]::-webkit-slider-runnable-track {
    background: #333;
    height: 30px;
}

/* 滑块-thumb样式 for WebKit browsers like Chrome and Safari */
input[type="range"]::-webkit-slider-thumb {
    /* 不使用浏览器的默认外观 */
    -webkit-appearance: none;
    appearance: none;
    width: 30px; /* 滑块宽度 */
    height: 30px; /* 滑块高度 */
    background: #4CAF50; /* 滑块的背景颜色 */

    border: 1px solid #555;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Thumb shadow */
}

/* 滑块-thumb头样式 for Firefox */
input[type="range"]::-moz-range-thumb {
    width: 30px; /* 滑块宽度 */
    height: 30px; /* 滑块高度 */
    background: #4CAF50; /* 滑块的背景颜色 */

    border: 1px solid #555
}

/* 参数数据样式 */
#value_slider_steering, #value_slider_speed, #value_slider_suction {
    font-size: 20px;
}
